h2,
h3 {
    margin: 0;
    border: 1px solid gray;
}

h2 {
    border-width: 0 0 0 1px;
    margin: 0 0 0 0.25em;
}

h3 {
    border-width: 1px 1px 0 0;
    padding: 0.1em 0.33em;
}

table {
    width: 100%;
}

th,
td {
    text-align: right;
    padding: 0 0.5em;
    border-bottom: 1px solid #DDD;
}

td {
    font: smaler Verdana, 'Andale Mono', Courier, 'Courier New', monospace;
    letter-spacing: -1px;
    border-right: 1px solid #CCC;
}

td.neg {
    background: #FF3;
    color: red;
    font-style: italic;
}

td.profit {
    background: #CEC;
    border-bottom-color: white;
    border-right: 1px solid gray;
    font-weight: bold;
}

td.profit,
td.neg {
    color: #000;
    background: #FFF;
}

thead th {
    vertical-align: bottom;
    border: 1px solid gray;
    border-width: 0 1px 1px 0;
}

th {
    border-right: 1px solid gray;
    border-bottom-style: dotted;
    border-width: 0 1px 1px 0;
    white-space: nowrap;
}

tr#totals * {
    border-top: 1px solid gray;
}

tr#totals td {
    font-weight: bold;
}

tr#totals td.profit {
    border: 1px solid black;
}

tr#totals th {
    border-bottom: none;
    text-transform: uppercase;
}

tr.odd * {
    background: #EEE;
    border: 1px solid #EEE;
}

tr.even * {
    border: 1px solid #EEE;
}
