a.navlink {
    text-decoration: none;
}

blockquote.pull {
    width: 40%;
    font-size: medium;
    font-weight: blod;
    padding: 1em 0 1em 5%;
    margin: 0;
    float: right;
}

body {
    font: x-small Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#info {
    position: absolute;
    top: 73px;
    left: 0;
    background: #F0DFB4;
    width: 140px;
    padding: 0.75em 0;
    border: 1px solid #600;
    border-width: 2px 1px 2px 0;
}

#info table {
    font: small Arial, Verdana, Helvetica, sans-serif;
}

#info td {
    padding: 0.125em;
}

#info th {
    text-align: right;
}

#info ul {
    list-style: none;
    margin: 1em;
    padding: 0;
}

#navbar {
    background: #F0DFB4 url(../image/tab-curve.gif) bottom left no-repeat;
    position: absolute;
    padding: 2px 0 2px 32px;
    top: 44px;
    right: 0;
    white-space: nowrap;
}

#navbar a {
    text-decoration: none;
    color: #000;
    padding: 2px 0.5em 1px;
    border-bottom: 1px solid gray;
}

#navbar a:hover {
    color: white;
    background: #336;
    border-bottom-width: 3px;
}

#navbar b {
    display: none;
}

#review {
    margin: 0 80px 2em 180px;
}

#review h2 {
    font-size: x-large;
    color: #600;
    margin: 1em 0 0;
    padding: 0 0 0.2em;
    line-height: 1em;
}

#review p {
    text-indent: 2em;
    line-height: 1.3;
}

#review .summary {
    font-size: small;
    border-top: 1px dotted #600;
    display: inline;
    text-indent: 0;
    line-height: normal;
}

#review .lead {
    text-indent: 0;
}

table {
    width: 100%;
}

th,
td {
    padding: 0;
}
