body {
    background: #EEE;
    color: #000;
}

h1 {
    color: #AAA;
    border-bottom: 1px solid;
    margin-bottom: 0;
}

#main {
    color: #CCC;
    margin-left: 7em;
    padding: 1px 0 1px 5%;
    border-left: 1px solid;
}

div#nav {
    float: left;
    width: 7em;
    background: #FDD;
}
