body {
    background: #EDD;
    margin: 1em;
}

div#footer {
    clear: both;
    padding-top: 3em;
    font: 85% Verdana, sans-serif;
}

div.pic {
    float: left;
    height: 190px;
    width: 130px;
    margin: 5px 3px;
    padding: 0 15px;
}

div.ls img {
    height: 96px;
    width: 128px;
    margin: 32px 0 0;
}

div.pic img {
    border: 1px solid;
    border-color: #444 #AAA #AAA #444;
}

div.pt img {
    height: 128px;
    width: 96px;
    margin: 0 16px;
}

div.pic ul {
    margin: 0.25em 0 0;
    padding: 0;
    font: bold small Arial, Verdana, sans-serif;
}

li.catno,
li.price {
    display: none;
}

li.title {
    display: block;
    list-style: none;
    text-align: center;
    white-space: nowrap;
}
